
/* banner style */
#banner h1 {
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
}

#bodyFigure {
}

#choicesSection {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#mainSection {
  width: 800px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

#fightSpan {
  margin: 0 auto;
  text-align: center;
}

#ally {
  margin: 0 auto;
  text-align: center;
}

button {
  width: 200px;
  height: 100px;
  position: relative;
  top: 200px;
  margin: 0 auto !important;
  font-size: 50px !important;
}

