
body {
  background-image: url("../images/5737031-wallpaper-star-wars.jpg");
  background-size: auto;
  background-position: center;
  height: 800px;
}
html {
  background-color: rgba(190,190,190,.6);
}
#bodyFigure {
  background-color: rgba(190,190,190,.6); 
  height: 88%;
}

/* banner style */
#banner h1 {
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(190,190,190,.6);
}

#choicesSection {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

#mainSection {
  width: 800px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

#labelSpan {
  margin: 0 auto;
  text-align: center;
}

#fightSpan {
  margin: 0 auto;
  text-align: center;
}

#healthSpan {
  margin: 0 auto;
  text-align: center;
}



#attackButtonDiv {
  margin: auto !important;
  position: relative;
}

#attackButton {
  margin: 0 auto;
}

#startButton {
  width: 200px;
  height: 100px;
  position: relative;
  top: 200px;
  margin: 0 auto !important;
  font-size: 50px !important;
}



